<%= page_title("#{t 'resellers.title'}") %>

<% if @users.present? %>
  <table id="resellers" class="table table-striped">
    <tr id="table-headers">
      <th>Business Name</th>
      <th><%= "#{t 'name', default: 'Name'}" %></th>
      <th>Email</th>
      <th><%= "#{t 'status.title'}" %></th>
    </tr>
    
    <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  </table>

<% else %>
  <div class="alert"><%= t 'users.none', default: 'No users found' %>.</div>
<% end %>