<%= page_title("#{t 'clients.title'}") do %>
  <%= icon_button_link_to "#{t 'export'}", export_admin_clients_path(format: :csv), icon: 'download-alt', class: 'fr' %>
<% end %>

<% if @clients.present? %>
  <table class="table table-striped">
    <tr>
      <th><%= sortable "full_name", "#{t 'client'}" %></th>
      <th><%= sortable "email" %></th>
      <th><%= "#{t 'orders.title'}" %></th>
      <th><%= sortable "created_at", "#{t 'users.member_since'}" %></th>
    </tr>
    
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.full_name, admin_client_path(client) %></td>
        <td><%= mail_to client.email, client.email %></td>
        <td><%= pluralize(client.orders.count, "#{(t 'order').downcase}") %></td>
        <td><%= distance_of_time_in_words_to_now(client.created_at) %></td>
      </tr>
    <% end %>
  </table>
  
  <%= paginate @clients %>

<% else %>
  <div class="alert"><%= t 'clients.none' %>.</div>
<% end %>