<div class="page-header">
  <h1><%= t 'clients.title' %></h1>
</div>

<% if @clients.present? %>
  <table id="packages" class="table table-striped">
    <tr id="table-headers">
      <th><%= sortable "full_name", "#{t 'client'}" %></th>
      <th><%= sortable "email" %></th>
      <th><%= "#{t 'orders.title'}" %></th>
      <th><%= sortable "created_at", "#{t 'users.member_since'}" %></th>
      <th></th>
    </tr>
    
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.full_name %></td>
        <td><%= client.email %></td>
        <td><%#= pluralize(client.orders.count, "#{t 'order'}") %></td>
        <td><%= distance_of_time_in_words_to_now(client.created_at) %></td>
        <td><%= icon_button_link_to "#{t 'view'}", admin_client_path(client), icon: 'file' %></td>
      </tr>
    <% end %>
  </table>
  
  <%= paginate @clients %>

<% else %>
  <div class="alert"><%= t 'no_clients_found', default: 'No clients found' %>.</div>
<% end %>