<%= page_title(@client.full_name) do %>
  <small><%= mail_to @client.email, @client.email, class: 'fr' %></small>
<% end %>

<% if @client.orders.any? %>
  <h3 style="padding-top:20px; clear:both;"><%= t 'orders.title' %></h3>

  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th><%= t 'statut' %></th>
      <th>Date</th>
      <th>Shipping</th>
      <th><%= t 'total' %></th>
    </tr>

    <% @client.orders.order('created_at DESC').each do |order| %>
      <tr>
      	<td><%= link_to order.code, admin_order_path(order) %></td>
      	<td><%= status(order.state) %></td>
        <td><%= l order.created_at, format: :long %></td>
        <td><%= order.shipping_method %> (<%= order.shipping_address.country %>)</td>
        <td><%= number_to_currency(order.total, strip_insignificant_zeros: true) %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <div class="alert"><%= t 'orders.none' %>.</div>
<% end %>