<h1><%= t 'please_sign_in' %></h1>
	
<%= simple_form_for(:session, url: sessions_path, method: :post, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  
  <%= f.input :email %>
  <%= f.input :password %>
  <label class="checkbox nolabel">
    <input id="remember_me" type="checkbox" name="remember_me" value="1"> <%= t 'remember_me' %>
  </label>
  <%= f.button :submit, class: "btn btn-primary", style: 'margin-top:20px; margin-left:180px;' %>
<% end %>

<p class="nolabel" style="margin-top:20px;"><%= link_to 'Forgot Password?', new_password_path %></p>