<%= page_title("#{t 'theme.sessions.new'}") %>

<div class="row-fluid">
  <div class="span6">
    <%= simple_form_for(:session, url: sessions_path, method: :post, html: {class: "form-horizontal"}) do |f| %>
	    <%= f.error_notification %>
	    <%= hidden_field_tag :become_reseller, '1' if params[:become_reseller].present? %>

	    <%= f.input :email %>
	    <%= f.input :password %>

	    <p id="remember-control" class="nolabel">
        <%= check_box_tag :remember_me %> <%= t 'theme.remember_me' %>
	    </p>

	    <p><%= f.button :submit, class: "nolabel btn", style: 'margin-top:10px;' %></p>
   <% end %>
	  <p class="nolabel" style="margin-top:20px;"><i><%= link_to "#{t 'theme.passwords.forgot'}", new_password_path %></i></p>
  </div>

  <div class="span6">
    <p style="margin-top:0;"><%= t 'theme.registrations.no_account_yet' %></p>
		<%= link_to "#{t 'theme.registrations.new'}", signup_path, class: 'btn' %>
  </div>
</div>