<%= content_for :email_body do %>
  Hello, <%= @user.first_name %>
 
	<p><%= t 'email.reset_password_email.intro', default: 'You have requested a new password' %>.</p>

	<p><%= t 'email.reset_password_email.action', default: 'To choose a new password, just follow this link' %> <%= change_password_url(token: @user.reset_password_token) %></p>
	 
	<p><%= t 'email.signature' %></p>
<% end %>