<%= content_for :email_body do %>
  Hello <%= @user.first_name %>,
 
	<p><%= t 'theme.email.reset_password_email.intro', default: 'You have requested a new password' %>.</p>

	<p><%= t 'theme.email.reset_password_email.action', default: 'To choose a new password, just follow this link' %> <%= link_to change_password_url(token: @user.reset_password_token), change_password_url(token: @user.reset_password_token) %></p>
	 
	<p><%= t 'theme.email.signature', default: 'Have a great day!' %></p>
<% end %>