<%= content_for :email_body do %>
  Hello <%= @user.first_name %>,
 
	<p><%= t 'theme.email.welcome.intro', default: "Thank you for joining #{t 'theme.site_name'}" %>.</p>

	<p><%= t 'theme.email.welcome.action', default: 'You can access your account anytime' %>. <%= link_to "#{t 'theme.login', default: 'Sign in'}", login_url %></p>
	 
	<p><%= t 'theme.email.signature', default: 'Have a great day!' %></p>
<% end %>