<%= content_for :email_body do %>
  <h3><%= "#{t 'theme.orders.title', default: 'Order'}" %> #<%= @order.code %></h3>
  <p><%= l @order.created_at, format: :long %></p>

  <layout label="Two columns">
    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
      <tbody><tr>
        <td class="w275" width="275" valign="top">
          <table class="w275" width="275" cellpadding="0" cellspacing="0" border="0">
            <tbody><tr>
              <td class="w275" width="275">
                <p align="left" class="article-title"><singleline label="Title"><%= t 'theme.billing_address', default: 'Billing Address' %></singleline></p>
                <div align="left" class="article-content">
                  <multiline label="Description"><address><%= @order.billing_address.display_name %></address></multiline>
                </div>
              </td>
            </tr>
            <tr><td class="w275" width="275" height="10"></td></tr>
          </tbody></table>
        </td>
        <td class="w30" width="30"></td>
        <td class="w275" width="275" valign="top">
          <table class="w275" width="275" cellpadding="0" cellspacing="0" border="0">
            <tbody><tr>
              <td class="w275" width="275">
                <p align="left" class="article-title"><singleline label="Title"><%= t 'theme.shipping_address', default: 'Shipping Address' %></singleline></p>
                <div align="left" class="article-content">
                  <multiline label="Description"><address><%= @order.shipping_address.display_name %></address></multiline>
                </div>
              </td>
            </tr>
            <tr><td class="w275" width="275" height="10"></td></tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </layout>
  
  <%= render 'orders/items' %>
<% end %>