<%= page_title("New order") %>

<%= simple_form_for([:reseller, @cart], html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <table class="table table-striped" id="reseller-products">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Min. quantity</th>
      <th>Quantity</th>
    </tr>

    <%= f.fields_for :items do |item| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td>
          <% if item.object.variant.master %>
            <%= link_to item.object.variant.product.name, [:reseller, item.object.variant.product] %>
          <% else %>
            <%= link_to item.object.variant.name, [:reseller, item.object.variant.product] %>
          <% end %>
          <%= item.input :variant_id, as: :hidden %>
        </td>
        <td><%= number_to_currency(item.object.price) %></td>
        <td><%= item.object.variant.min_quantity_for_reseller_order %></td>
        <td><%= item.input :quantity, label: false, input_html: {class: 'input-mini'}, wrapper_html: {class: 'input-mini'} %></td>
      </tr>
    <% end %>
  </table>

  <div class="form-actions">
    <%= submit_or_cancel(f, "Continue") %>
  </div>
<% end %>