<%= page_title("Blog") do %>
  <%= icon_button_link_to "#{t 'articles.new'}", new_admin_article_path, level: 'primary', icon: 'plus', white: true, class: 'fr' %>
<% end %>

<% if @articles.present? %>
  <table id="articles" class="table table-striped">
    <tr>
      <th><%= "#{t 'title', default: 'Titre'}" %></th>
      <th><%= "#{t 'content'}" %></th>
      <th><%= t 'author' %></th>
      <th style="min-width:80px;"></th>
    </tr>
    
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, admin_article_path(article) %> <%= status_tag "#{t 'private'}" if !article.visible? %></td>
        <td><%= truncate(article.content, length: 100) %></td>
        <td><%= article.author.first_name %></td>
        <td><%= icon_button_link_to "#{t 'edit'}", edit_admin_article_path(article), icon: 'pencil', size: 'small' %></td>
      </tr>
    <% end %>
  </table>
  
  <%= paginate @articles %>
<% else %>
  <div class="alert"><%= t 'articles.none' %>.</div>
<% end %>