<div class="page-header">
  <h1>Blog
    <%= icon_button_link_to "#{t 'articles.new'}", new_admin_article_path, level: 'primary', icon: 'plus', white: true, size: 'large', class: 'fr' %>
  </h1>
</div>

<% if @articles.present? %>
  <table id="articles" class="table table-striped">
    <tr id="table-headers">
      <th><%= "#{t 'title', default: 'Titre'}" %></th>
      <th>Slug</th>
      <th><%= "#{t 'content'}" %></th>
      <th><%= t 'author' %></th>
      <th style="min-width:100px;"></th>
    </tr>
    
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, admin_article_path(article) %> <%= status_tag "#{t 'private'}" if !article.public? %></td>
        <td><%= article.slug %></td>
        <td><%= truncate(article.content, length: 100) %></td>
        <td><%= article.author.first_name %></td>
        <td><%= icon_button_link_to "#{t 'edit'}", edit_admin_article_path(article), icon: 'pencil' %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="alert"><%= t 'articles.none', default: 'No articles found' %>.</div>
<% end %>