<%= page_title(@article.title) do %>
  <%= status_tag("#{t 'private'}") if !@article.visible %>
  <%= icon_button_link_to "#{t 'destroy'}", admin_article_path(@article), method: :delete, data: {confirm: "#{t 'are_you_sure'}"}, level: 'danger', icon: 'remove', white: true, class: "fr" %>
  <%= icon_button_link_to "#{t 'edit'}", edit_admin_article_path(@article), level: 'primary', icon: 'pencil', white: true, class: "fr" %>
<% end %>

<p>
  <b>URL:</b>
  <%= link_to "#{article_url(@article.slug)}", article_url(@article.slug) %>
</p>

<p>
  <b><%= t 'published_at' %>:</b>
  <%= l @article.created_at, format: :long %>
</p>

<p>
  <b><%= t 'author' %>:</b>
  <%= @article.author.first_name %>
</p>

<p>
  <b>Tags:</b>
  <%= raw @article.tags.map { |t| link_to t.name, tag_path(t) }.join(', ') %>
</p>

<%= markdown(@article.content) %>