<%= page_title("Blog") %>

<% if params[:tag] %>
  <h3>Article pour <%= @tag.name %></h3>
<% end %>

<div id="articles" class="page-content">
	<% @articles.each do |article| %>
	  <div class="article">
	  	<h3><%= link_to article.title, article_path(article) %></h3>
	    <%= markdown(article.content) %>
	  </div>
	<% end %>
</div>

<%= paginate @articles %>