<%= page_title("Abandoned checkouts") %>

<% if @carts.present? %>
  <table id="orders" class="table table-striped">
	  <tr id="table-headers">
	  	<th><%= sortable "created_at", "Date" %></th>
	  	<th><%= sortable "reminded", "Email status" %></th>
	  	<th>Items</th>
	  	<th><%= sortable "total", "#{t 'total'}" %></th>
	    <th><%= sortable "coupon_code", "Coupon" %></th>
	    <th><%= sortable "email" %></th>
	    <th><%= sortable "full_name", "#{t 'client'}" %></th>
	  </tr>

	  <% @carts.each do |cart| %>
	    <tr>
	      <td><%= l cart.created_at, format: :long %></td>
	      <td><%= status_tag("#{cart.reminded? ? 'Sent' : 'Not sent'}", level: "#{cart.reminded? ? 'warning' : ''}") %></td>
	      <td><% if cart.items.length > 0 %>
	        <%= link_to cart.items.length, "#", class: 'popover1', data: {toggle: "popover", title: pluralize(cart.items.length, 'item'), content: "#{cart.items.map{|i| i.summary}.to_sentence}"} %>
	      <% else %>
	        0
	      <% end %></td>
	      <td><%= number_to_currency(cart.total) %></td>
	      <td><%= cart.coupon_code %></td>
	      <td><%= cart.user.present? ? cart.user.email : cart.email %></td>
	      <td><%= cart.user.present? ? cart.user.try(:full_name) : "#{cart.first_name} #{cart.last_name}" %></td>
	    </tr>
	  <% end %>
	</table>
<% else %>
  <p class="alert">No abandoned checkouts found.</p>
<% end %>

<%= paginate @carts %>

<script>
  $(document).ready(function() {
    $(".popover1").popover();
  });
</script>