<div class="page-header">
  <h1>#<%= @order.code %> <%= status(@order.status) %>
    <span id='order_date'> <%= l @order.created_at, format: :long %></span>
    <div class="btn-group fr">
      <button class="btn btn-large"><i class="icon-print"></i> <%= t 'print' %></button>
      <button class="btn btn-large"><i class="icon-remove"></i> <%= t 'cancel' %></button>
      <% if !@order.shipped? %>
        <%= icon_button_link_to "#{t 'status.mark_as_shipped'}", mark_as_shipped_admin_order_path(@order), method: :post, confirm: "#{t 'are_you_sure'}", class: "btn btn-large", icon: "ok" %></td>
      <% end %>
    </div>
  </h1>
</div>

<% unless @order.completed? %>
  <div class="progress progress-danger progress-striped active">
    <div class="bar" style="width:100%;"><%= t 'status.not_paid' %></div>
  </div>
<% end %>

<h3><%= @order.client.full_name %></h3>

<%= render 'items' %>

<% if @order.coupon_code.present? %>
  <p>
    <b><%= t 'coupon_code' %>:</b> <%= @order.coupon_code %>
  </p>
<% end %>

<div id="addresses" class="row-fluid">
  <div class="span4 address billing">
    <address>
      <strong><p><%= t 'billing_address' %></strong></p>
      <p><%= @order.client.full_name %></p>
      <%= @order.billing_address.present? ? @order.billing_address.display_name : @order.shipping_address.display_name %>
    </address>
  </div>

  <div class="span8 address shipping">
    <div class="span4">
      <address>
        <strong><p><%= t 'shipping_address' %></strong></p>
        <p><%= @order.client.full_name %></p>
        <%= @order.shipping_address.display_name if @order.shipping_address.present? %>
      </address>
    </div>

    <div class="span4">
      <div id="map-canvas" style="width:336px; height:140px;"></div>
    </div>
  </div>
</div>

<%= render 'audits' %>
<%= render 'map' %>