<%= page_title("#{t 'theme.registrations.new'}") %>

<div class="row-fluid">
  <div class="span6">
  	<%= simple_form_for(@user, url: registrations_path, html: {class: "form-horizontal"}) do |f| %>
		  <%= f.error_notification %>

		  <%= f.input :email %>
		  <%= f.input :first_name %>
		  <%= f.input :last_name %>
		  <%= f.input :password, hint: false %>
		  <%= f.input :password_confirmation, required: true %>

		  <%= f.button :submit, class: "btn nolabel" %>
		<% end %>
  </div>

  <div class="span6">
  	<p style="margin-top:0;"><%= t 'theme.registrations.already_have_an_account' %></p>
		<%= link_to "#{t 'theme.sessions.new'}", login_path, class: 'btn' %>
  </div>
</div>