<table class="table table-striped" style="margin-top:20px;" >
  <tr id="table-headers">
  	<th>Item</th>
  	<th>Price</th>
    <th>Quantity</th>
    <th></th>
  </tr>

  <% @order.items.each do |item| %>
    <tr>
    	<td><%= item.buyable.name %> <% if item.is_variant? %>(<b><%= item.buyable.name %></b>)<% end %></td>
    	<td><%= number_to_currency(item.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.subtotal) %></td>
    </tr>
  <% end %>
  <tr class="total">
    <th colspan="3" style="text-align:right;"><%= t 'subtotal' %></th>
    <th><%= number_to_currency(@order.subtotal) %></th>
  </tr>
  <tr class="total">
    <th colspan="3" style="text-align:right;"><%= t 'shipping' %></th>
    <th><%= number_to_currency(@order.shipping_price) %></th>
  </tr>
  <% if @order.tax_rate > 0 %>
    <tr class="total">
      <th colspan="3" style="text-align:right;"><%= @order.tax_name || "#{t 'tax'}" %></th>
      <th><%= number_to_currency(@order.subtotal * @order.tax_rate/100) %></th>
    </tr>
  <% end %>
  <tr class="total">
    <th colspan="3" style="text-align:right;"><%= t 'total' %></th>
    <th><%= number_to_currency(@order.total) %></th>
  </tr>
</table>