<%= content_for :body_id do %>order<% end %>

<%= page_title("#{t 'theme.orders.mine'}") %>

<% if @orders.any? %>
  <table class="table table-striped">
    <tr>
      <th><%= t 'theme.code' %></th>
      <th><%= t 'theme.total' %></th>
      <th><%= t 'theme.orders.date' %></th>
    </tr>
    
    <% @orders.each do |order| %>
	    <tr>
	      <td><%= link_to order.code, order %> <%= status_tag(t("status.#{order.state}"), class: "state-#{order.state}") %></td>
	      <td><%= number_to_currency(order.total) %></td>
	      <td><%= l order.created_at, format: :long %></td>
	    </tr>
	  <% end %>
  </table>
<% else %>
  <p class="alert"><%= t 'theme.orders.none' %>.</p>
<% end %>