<% content_for :head do %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLIC_KEY'] %>
<% end %>
<%= content_for :body_id do %>checkout<% end %>

<%= page_title("#{t 'theme.review_order.title'}") %>

<div class="row-fluid">
  <div class="span6">
    <div class="well address">
      <h4><%= t 'billing_address' %> <%= link_to "#{t 'theme.edit'}", checkout_cart_url, class: 'fr', style: "font-size:12px;" %></h4>
      <p><%= @cart.billing_address.display_name %></p>
    </div>
  </div>
  <div class="span6">
    <div class="well address">
      <h4><%= t 'shipping_address' %> <%= link_to "#{t 'theme.edit'}", checkout_cart_url, class: 'fr', style: "font-size:12px;" %></h4>
      <p><%= @cart.shipping_address.display_name %></p>
    </div>
  </div>
</div>

<%= form_for @order do |f| %>
  <%= f.hidden_field :stripe_card_token %>
  <div class="well">
    <h4><%= t 'theme.shipping.shipping_method' %></h4>
    <p><%= t 'theme.shipping.select_shipping_rate' %></p>
    <%= select_tag :shipping_rate, options_for_select(@shipping_rates.map{|sr| [sr, sr.id]}, @shipping_estimate) %>
  </div>

  <%= render 'carts/summary' %>

  <div id="payment-form" class="well">
    <h4><%= t 'theme.payment.title' %></h4>

    <% if @order.stripe_card_token.present? %>
      <%= t 'theme.payment.credit_card_provided' %>.
    <% else %>
      <div class="field">
        <%= label_tag :card_holder, "#{t 'theme.card.name'}" %>
        <%= text_field_tag :card_holder, '', name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_number, "#{t 'theme.card.number'}" %>
        <%= text_field_tag :card_number, '', name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_code, "#{t 'theme.card.code'}" %>
        <%= text_field_tag :card_code, '', name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_month, "#{t 'theme.card.expiration'}" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
        <%= select_year Date.today.year+1, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
      </div>
    <% end %>
    <div id="stripe_error">
      <noscript><%= t 'theme.no_js', default: "JavaScript is not enabled and is required for this form. First enable it in your web browser settings" %>.</noscript>
    </div>
  </div>

  <% if @shipping_country %>
    <p><%= f.submit "#{t 'theme.payment.complete_order'}", class: 'btn btn-success' %></p>
  <% end %>
<% end %>  

<script type="text/javascript" charset="utf-8">
  $(function() {
    var shipping_methods = <%= raw @shipping_rates.to_json(only: [:id, :price]) %>;
    Order.setup(shipping_methods);
  });
</script>