<%= page_title("Stocks") %>

<% if @products.any? %>
  <%= form_for :stocks, method: :put do |f| %>

  <table class="table table-striped" id="stocks">
    <% @products.each do |product| %>
      <%= f.fields_for "products[#{Time.now.to_f}]", product do |ff| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to product.name, [:admin, product] %></td>
          <td>
            <%= ff.hidden_field :id %>
            <%= ff.fields_for :master do |fm| %>
              <%= fm.number_field :in_stock, class: 'input-mini' %>
            <% end %>
          </td>
        </tr>
        <% if product.variants.size > 0 %>
          <%= ff.fields_for :variants do |fff| %>
            <tr class="<%= current_cycle %>">
              <td class="variant"><%= fff.object.name %></td>
              <td>
                <%= fff.hidden_field :id %>
                <%= fff.hidden_field :selected, value: '1' %>
                <%= fff.number_field :in_stock, class: 'input-mini' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </table>  
    
    <div class="form-actions reset">
      <%= submit_tag "Update", class: "btn btn-primary", "data-disable-with"=>"#{t 'please_wait'}" %>
    </div>
  <% end %>
<% else %>
  <div class="alert"><%= t 'products.none' %>.</div>
<% end %>