<table id="cart" class="table table-striped">
  <tr>
    <th><%= t 'theme.item' %></th>
    <th><%= t 'theme.quantity' %></th>
    <th><%= t 'theme.unit_price' %></th>
    <th><%= t 'theme.full_price' %></th>
  </tr>
  <% @cart.items.each do |item| %>
    <tr>
      <td><%= item.variant.cart_name %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= number_to_currency(item.quantity * item.price) %></td>
    </tr>
  <% end %>
  <tr class="total">
    <td colspan="3"><%= t 'theme.subtotal' %></td>
    <td><span id="subtotal" data-value="<%= @cart.subtotal %>"><%= number_to_currency @cart.subtotal %></span></td>
  </tr>
  <% if @cart.discount > 0 %>
  <tr class="total">
    <td colspan="3"><%= t 'theme.discount' %></td>
    <td><span id="discount" data-value="<%= @cart.discount %>"><%= number_to_currency(-@cart.discount) %></span></td>
  </tr>
  <% end %>
  <% if @cart.tax_amount > 0 %>
  <tr class="total">
    <td colspan="3"><%= @cart.tax_name.presence || "#{t 'theme.tax'}" %> (<%= number_to_percentage @cart.tax_rate, precision: 0 %>)</td>
    <td><span id="tax" data-value="<%= @cart.tax_amount %>"><%= number_to_currency @cart.tax_amount %></span></td>
  </tr>
  <% end %>
  <tr class="total" style="display:<%= @cart.try_with_default(:shipping, 0) > 0 ? '' : 'none' %>" id="shipping-row">  
    <td colspan="3"><%= t 'theme.shipping.title' %></td>
    <td><span id="shipping" data-value="<%= @cart.try_with_default(:shipping, 0) %>"><%= number_to_currency @cart.try_with_default(:shipping, 0) %></span></td>
  </tr>
  <tr class="total">
    <td colspan="3"><%= t 'theme.total' %></td>
    <td>
    <span id="total" data-value="<%= @cart.total %>"><%= number_to_currency @cart.total %></span>
    <% if @currency != 'USD' %>
      <span id='total_currency'>(<%= price_with_currency  @cart.total, @currency %>)</span>
    <% end %>
    </td>
  </tr>
</table>

<p class="alert"><i class="icomoon icon-lock"></i> <%= t 'theme.checkout.secure_connection' %>.</p>