<%= content_for :body_id do %>checkout<% end %>

<%= page_title("#{t 'theme.checkout.title'}") %>

<p class="alert"><i class="icomoon icon-lock"></i> <%= t 'theme.secure_connection' %>.</p>

<% if logged_in? %>
  <section id="order-addreses">
    <%= simple_form_for(@cart, url: continue_cart_path, method: :post, html: {class: 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>

      <%
        default_billing_address = current_user.orders.try(:last).try(:billing_address) || current_user.addresses.try(:first)
        default_shipping_address = current_user.orders.try(:last).try(:shipping_address) || current_user.addresses.try(:first)
        also_shipping_address = default_billing_address && default_billing_address.same_as(default_shipping_address)
        @cart.build_billing_address(also_shipping_address: also_shipping_address).copy(default_billing_address) unless @cart.billing_address
        @cart.build_shipping_address unless @cart.shipping_address
        @cart.shipping_address.copy(default_shipping_address) unless @cart.billing_address.also_shipping_address
      %>

      <div class="row-fluid">
        <div id="billing-address" class="span6">
          <h4 class="section-helper"><%= t 'theme.billing_address' %></h4>
          <% if current_user.addresses.any? %>
            <div class="control-group">
              <label class="control-label"><%= t 'theme.select_address' %></label>
              <div class="controls"><%= select_tag :billing_address, options_for_select([''] + current_user.addresses.map{|a| a.display_name(', ')}, @cart.billing_address.try(:display_name, ', ')), name: nil %>
              </div>
            </div>
          <% end %>
          <%= f.fields_for :billing_address do |ba| %>
            <div id="billing_address_fields" class="form-horizontal">
              <%= ba.input :full_name, required: true, input_html: {value: current_user.full_name} %>
              <%= ba.input :address1, required: true %>
              <%= ba.input :address2 %>
              <%= ba.input :postal_code, required: true %>
              <%= ba.input :city, required: true %>
              <%= ba.input :country, required: true %>
              <%= ba.input :province, collection: province_options, as: :grouped_select, group_method: :last, group_label_method: :first, wrapper_html: {id: 'billing_province', style: "display:#{['US', 'CA'].include?(ba.object.country) ? 'block': 'none'};"} %>

              <div class="checkbox inline nolabel">
                <label> <%= ba.check_box :also_shipping_address, id: 'also_shipping_address' %>
                 <%= t 'shipping_and_billing_are_the_same' %>
                </label>
              </div>
            </div>
          <% end %>
        </div>

        <div id="shipping-address" class="span6">
          <h4 class="section-helper"><%= t 'theme.shipping_address' %></h4>
          <div id="shipping_address_fields" class="form-horizontal" style="display: <%= @cart.billing_address.also_shipping_address ? 'none' : 'block' %>;">
            <% if current_user.addresses.any? %>
              <div class="control-group">
                <label class="control-label"><%= t 'theme.select_address' %></label>
                <div class="controls"><%= select_tag :shipping_address, options_for_select([''] + current_user.addresses.map{|a| a.display_name(', ')}, @cart.shipping_address.try(:display_name, ', ')), name: nil %>
                </div>
              </div>
            <% end %>
            <%= f.fields_for :shipping_address do |sa| %>
              <%= sa.input :full_name, required: true %>
              <%= sa.input :address1, required: true %>
              <%= sa.input :address2 %>
              <%= sa.input :postal_code, required: true %>
              <%= sa.input :city, required: true %>
              <%= sa.input :country, required: true %>
              <%= sa.input :province, collection: province_options, as: :grouped_select, group_method: :last, group_label_method: :first, wrapper_html: {id: 'shipping_province', style: "display:#{['US', 'CA'].include?(sa.object.country) ? 'block': 'none'};"} %>
            <% end %>
          </div>
          <div id="same-address" class="alert alert-info" style="display: <%= @cart.billing_address.also_shipping_address ? 'block' : 'none' %>;">
            <%= t 'theme.same_as_billing_address' %>
          </div>
        </div>
      </div>
      <p><%= f.button :submit, "#{t 'theme.cart.continue'}", class: "btn btn-primary nolabel" %></p>
      <% end %>
  </section>
<% else %>
  <div class="row-fluid">
    <section id="login" class="span6">
      <h3><%= t 'theme.login' %></h3>
      <%= simple_form_for(:session, url: sessions_path, method: :post, html: {class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        <%= hidden_field_tag :checkout, '1' %>
        
        <%= f.input :email %>
        <%= f.input :password %>
        
        <p id="remember-control" class="nolabel">
          <%= check_box_tag :remember_me %> <%= t 'remember_me' %>
        </p>
        <%= f.button :submit, "#{t 'sessions.submit'}", class: "btn nolabel" %>
      <% end %>

      <p class="nolabel" style="margin-top:20px;"><%= link_to "#{t 'passwords.forgot'}", new_password_path %></p>
    </section>

    <section id="signup" class="span6">
      <h3><%= t 'theme.register' %></h3>

      <%= simple_form_for(User.new, url: registrations_path, html: {class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>
        <%= hidden_field_tag :checkout, '1' %>

        <%= f.input :email %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :password, hint: false %>
        <%= f.input :password_confirmation, required: true %>

        <%= f.button :submit, "#{t 'registrations.create_account'}", class: "btn nolabel" %>
      <% end %>
    </section>
  </div>

  <section id="checkout-as-guest">
    <h3><%= t 'theme.checkout.as_guest' %></h3>

    <%= simple_form_for(@cart, url: continue_cart_path, method: :post, html: {class: 'form-horizontal'}) do |f| %>
      <%= f.error_notification %>

      <% 
        @cart.build_billing_address(also_shipping_address: true) unless @cart.billing_address
        @cart.build_shipping_address unless @cart.shipping_address
      %>

      <h4 class="section"><%= t 'theme.checkout.your_details' %></h4>
      <%= f.input :email, required: true %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>

      <div class="row-fluid">
        <div id="billing-address" class="span6">
          <h4 class="section-helper"><%= t 'billing_address' %></h4>
          <%= f.fields_for :billing_address do |ba| %>
            <div id="billing_address_fields" class="form-horizontal">
              <%= ba.input :full_name, required: true %>
              <%= ba.input :address1, required: true %>
              <%= ba.input :address2 %>
              <%= ba.input :postal_code, required: true %>
              <%= ba.input :city, required: true %>
              <%= ba.input :country, required: true %>
              <%= ba.input :province, collection: province_options, as: :grouped_select, group_method: :last, group_label_method: :first, wrapper_html: {id: 'billing_province', style: "display:#{['US', 'CA'].include?(ba.object.country) ? 'block': 'none'};"} %>
              <div class="checkbox inline nolabel">
                <label> <%= ba.check_box :also_shipping_address, id: 'also_shipping_address' %>
                 <%= t 'shipping_and_billing_are_the_same' %>
                </label>
              </div>
            </div>
          <% end %>
        </div>

        <div id="shipping-address" class="span6">
          <h4 class="section-helper"><%= t 'shipping_address' %></h4>
          <div id="shipping_address_fields" class="form-horizontal" style="display: <%= @cart.billing_address.also_shipping_address ? 'none' : 'block' %>;">
            <%= f.fields_for :shipping_address do |sa| %>
              <%= sa.input :full_name, required: true %>
              <%= sa.input :address1, required: true %>
              <%= sa.input :address2 %>
              <%= sa.input :postal_code, required: true %>
              <%= sa.input :city, required: true %>
              <%= sa.input :country, required: true %>
              <%= sa.input :province, collection: province_options, as: :grouped_select, group_method: :last, group_label_method: :first, wrapper_html: {id: 'shipping_province', style: "display:#{['US', 'CA'].include?(sa.object.country) ? 'block': 'none'};"} %>
            <% end %>
          </div>
          <div id="same-address" class="alert alert-info" style="display: <%= @cart.billing_address.also_shipping_address ? 'block' : 'none' %>;">
            <%= t 'theme.same_as_billing_address' %>
          </div>
        </div>
      </div>  
      <p><%= f.button :submit, "#{t 'theme.cart.continue'}", class: "btn nolabel" %></p>
    <% end %>
  </section>
<% end %>  

<script type="text/javascript" charset="utf-8">
  $(function() {
    <% if logged_in? %>
      var addresses = <%= raw current_user.addresses.to_json %>;
    <% else %>  
      var addresses = null;
    <% end %>
    Cart.checkout(addresses);
  });
</script>