<%= content_for :body_id do %>cart<% end %>
<%= page_title("#{t 'carts.title'}") %>

<% if @cart.items.any? %>
  <%= form_for @cart, url: cart_path do |f| %>
  	<table id="cart" class="table table-striped">
  	  <tr>
  	    <th><%= t 'item' %></th>
  	    <th><%= t 'quantity' %></th>
        <th><%= t 'price' %></th>
  	    <th><%= t 'subtotal' %></th>
  	    <th></th>
  	  </tr>
  	 
      <%= f.fields_for :items do |ff| %>
        <% item = ff.object %>
  	    <tr>
  	      <td><%= item.buyable.cart_name %></td>
  	      <td><%= ff.number_field :quantity, class: 'input-mini' %></td>
          <td><%= number_to_currency(item.current_price) %></td>
  	      <td><%= number_to_currency(item.quantity * item.current_price) %></td>
  	      <td><%= icon_button_link_to "", cart_line_item_path(item), method: :delete, icon: 'remove', level: 'danger', white: true, size: 'mini' %></td>
  	    </tr>
      <% end %>
  	</table>
    <%#= link_to "#{t 'carts.empty_action'}", cart_path, method: :delete, confirm: "#{t 'are_you_sure'}", class: "btn btn-warning" %>
  	<%= link_to "#{t 'carts.continue_shopping'}", products_path, class: "btn" %>
    <%= f.submit disable_with: "Updating...", class: 'btn btn-info' %>
  	<%= link_to "#{t 'checkout'}", new_order_path, class: "btn btn-success" %>
  <% end %>

  <div class="well">
    <% if @cart.coupon_applied? %>
      Coupon code <b><%= @cart.coupon_code %></b> was applied. <%= link_to 'Remove', remove_coupon_cart_path, class: 'btn btn-danger', method: :post %>
    <% else %>
      <%= form_tag apply_coupon_cart_path, class: 'form-inline' do %>
        <%= label_tag :coupon_code %>
        <%= text_field_tag :coupon_code, @cart.coupon_code, class: 'input-small' %>
        <%= submit_tag 'Apply', disable_with: "Updating...", class: 'btn' %>    
      <% end %>
    <% end %>
  </div>

  <div class="well">
    <h6>SUMMARY</h6>
    <table>
      <tr>
        <td><%= t 'subtotal' %></td>
        <td><%= number_to_currency(@cart.subtotal) %></td>
      </tr>
      <tr id="shipping" style="display:none;">
        <td><%= t 'estimated_shipping' %></td>
        <td><span id="shipping-price"></span></td>
      </tr>
      <% if @cart.discount > 0 %>
      <tr class="total">
        <td><%= t 'discount' %></td>
        <td><%= number_to_currency(-@cart.discount) %></td>
      </tr>
      <% end %>
      <!-- <tr class="total">
        <td><%#= t 'total' %></td>
        <td><%#= number_to_currency(@cart.total) %></td>
      </tr>     -->
    </table>
  </div>

  <div id="shipping_calculator">
    <h3><%= t 'shipping_rates.calculator' %></h3>
    <%= simple_form_for :shipping, url: search_shippings_path, remote: true do |f| %>
      <div class="row-fluid">
        <div class="span4">
          <%= f.hidden_field :subtotal, value: @cart.subtotal %>
          <%= f.input :country, input_html: {class: 'input-block-level'} %>
        </div>
        <div class="span4">
          <div class="control-group string optional">
            <label class="string optional control-label" for="shipping_calculate">&nbsp;</label>
            <div class="controls">
              <%= f.submit 'Calculate', class: 'btn', disable_with: 'Calculating...' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div id="shipping-rate-feedback" style="display: none;"></div>
  </div>
<% else %>
  <p class="alert"><%= t 'carts.is_empty' %>. <%= link_to "#{t 'products.browse'}", products_path %></p>
<% end %>
