<%= content_for :body_id do %>cart<% end %>
<%= page_title("#{t 'theme.cart.title'}") %>

<% if @cart.items.any? %>
  <%= form_for @cart, url: cart_path do |f| %>
  	<table id="cart" class="table table-striped">
  	  <tr>
        <th></th>
  	    <th><%= t 'theme.item' %></th>
  	    <th><%= t 'theme.quantity' %></th>
        <th><%= t 'theme.unit_price' %></th>
  	    <th><%= t 'theme.subtotal' %></th>
  	  </tr>
  	 
      <%= f.fields_for :items do |ff| %>
        <% item = ff.object %>
  	    <tr>
          <td><%= link_to "#{t 'theme.cart.remove'}", cart_line_item_path(item), method: :delete %></td>
  	      <td><%= image_tag(item.variant.product.pictures.first.upload.url(:thumb), size: "38x38") if item.variant.product.pictures.any? %> <%= item.variant.cart_name %></td>
  	      <td><%= ff.number_field :quantity, class: 'input-mini' %></td>
          <td><%= number_to_currency(item.price) %></td>
  	      <td><%= number_to_currency(item.quantity * item.price) %></td>
  	    </tr>
      <% end %>
  	</table>

    <div id="cart-actions" class="row-fluid">      
      <%= link_to "#{t 'theme.cart.continue'}", checkout_cart_path, class: "btn btn-success fr" %>
      <%= f.submit data: {disable_with: "#{t 'theme.updating'}"}, class: 'btn fr' %>
    </div>
  <% end %>
  
  <% if @cart.coupon_applied? %>
    <%= t 'theme.coupon_code' %> <b>"<%= @cart.coupon_code %>"</b> <%= t 'theme.was_applied' %>. <%= link_to "#{t 'theme.cart.remove'}", remove_coupon_cart_path, method: :post %>
  <% else %>
    <%= form_tag apply_coupon_cart_path, class: 'form-inline' do %>
      <%= label_tag :coupon_code, "#{t 'theme.coupon_code'}" %>
      <%= text_field_tag :coupon_code, @cart.coupon_code %>
      <%= submit_tag "#{t 'theme.apply_coupon'}", data: {disable_with: "#{t 'theme.apply_coupon'}"}, class: 'btn' %>
    <% end %>
  <% end %>
  
  <table id="cart-totals" style="float:right;" class="span6">
    <tr>
      <td><%= t 'theme.subtotal' %></td>
      <td><%= number_to_currency(@cart.subtotal) %></td>
    </tr>
    <% if @cart.discount > 0 %>
      <tr>
        <td><%= t 'theme.discount' %></td>
        <td><%= number_to_currency(-@cart.discount) %></td>
      </tr>
    <% end %>
    <tr id="shipping" style="display:none;">
      <td><%= t 'theme.estimated_shipping' %></td>
      <td><span id="shipping-price"></span></td>
    </tr>
  </table>

  <% if ShippingCountry.count > 0 %>
    <div id="shipping_calculator" class="row-fluid">
      <h3><%= t 'theme.shipping_rate.calculator' %></h3>
      <%= simple_form_for :shipping, url: search_shippings_path, remote: true do |f| %>
        <div class="row-fluid">
          <div class="span3">
            <%= f.hidden_field :subtotal, value: @cart.subtotal %>
            <%= f.input :country, collection: Country.all, input_html: {class: 'input-block-level'} %>
          </div>
          <div class="span3" style="margin-left:0;">
            <div class="control-group string optional">
              <label class="string optional control-label" for="shipping_calculate">&nbsp;</label>
              <div class="controls">
                <%= f.submit "#{t 'theme.cart.calculate'}", class: 'btn', data: {disable_with: "#{t 'theme.calculating'}"}, style: 'margin-left:0;' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div id="shipping-rate-feedback" style="display:none;"></div>
    </div>
  <% end %>
<% else %>
  <p class="alert"><%= t 'theme.cart.is_empty' %>. <%= link_to "#{t 'theme.products.browse'}", products_path %></p>
<% end %>
