<div class="page-header">
  <h1><%= @collection.name %> <%= status_tag("#{t 'private'}") if !@collection.visible %>
  <%= icon_button_link_to "#{t 'destroy'}", admin_collection_path(@collection), method: :delete, data: {confirm: "#{t 'are_you_sure'}"}, level: 'danger', icon: 'remove', white: true, size: 'large', class: "fr" %>
    <%= icon_button_link_to "#{t 'edit'}", edit_admin_collection_path(@collection), level: 'primary', icon: 'pencil', white: true, size: 'large', class: "fr" %>
  </h1>
</div>

<p>
  <b>URL:</b>
  <%= link_to "#{collection_url(@collection.slug)}", collection_url(@collection.slug) %>
</p>

<%= markdown(@collection.description) %>

<%= subsection_title('Products') %>
<p class="alert alert-info">Assign products to collection. You can sort products by drag and drop.</p>

<div class="row-fluid">
  <ul id="products-list" class="span4 nav nav-list bs-docs-sidenav">
	  <% @products.each do |product| %>
	    <%= content_tag_for :li, product do %>
	      <%= link_to "#{product.name} »", add_to_collection_admin_product_path(product), method: :post, remote: true %>
	    <% end %>
	  <% end %>
	</ul>
  
  <ul id="collection-products" class="span8 nav" data-update-url="<%= sort_products_admin_collection_url %>">

  <%# @collection.products.order('position').each do |product| %>
	  <%= render 'admin/collections/products' %>
	  <%# end %>
	</ul>
  
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Collection.Show.init();
  });
</script>