<div class="page-header">
  <h1><%= @collection.name %> <%= status_tag("#{t 'private'}") if !@collection.visible %>
  <%= icon_button_link_to "#{t 'destroy'}", admin_collection_path(@collection), method: :delete, data: {confirm: "#{t 'are_you_sure'}"}, level: 'danger', icon: 'remove', white: true, size: 'large', class: "fr" %>
    <%= icon_button_link_to "#{t 'edit'}", edit_admin_collection_path(@collection), level: 'primary', icon: 'pencil', white: true, size: 'large', class: "fr" %>
  </h1>
</div>

<p>
  <b>URL:</b>
  <%= link_to "#{collection_url(@collection.slug)}", collection_url(@collection.slug) %>
</p>

<%= markdown(@collection.description) %>

<%= subsection_title('Products') %>

<div class="row-fluid">
	<% if @products.any? %>
	  <ul id="products-list" class="span4 nav nav-list bs-docs-sidenav">
		  <% @products.each do |product| %>
		    <%= content_tag_for :li, product do %>
	        <%= link_to(add_products_admin_collection_path(@collection, product_id: product.id), method: :post, remote: true) do %>
	          <%= "#{truncate(product.name, length: 40)}" %> <i class="icon-chevron-right"> </i>
	        <% end %>
		    <% end %>
		  <% end %>
		</ul>

	  <ul id="collection-products" class="span8 nav" data-update-url="<%= sort_products_admin_collection_url %>">
		  <%= render 'admin/collections/products' %>
		</ul>
	<% else %>
	  <p class="alert">Create products first so you can add to collection.</p>
	<% end %>
</div>