<%= page_title(@collection.name) do %>
  <%= status_tag("#{t 'private'}") if !@collection.visible %>
  <%= icon_button_link_to "#{t 'destroy'}", admin_collection_path(@collection), method: :delete, data: {confirm: "#{t 'are_you_sure'}"}, level: 'danger', icon: 'remove', white: true, class: "fr" %>
  <%= icon_button_link_to "#{t 'edit'}", edit_admin_collection_path(@collection), level: 'primary', icon: 'pencil', white: true, class: "fr" %>
<% end %>

<p>
  <b>URL:</b>
  <%= link_to "#{collection_url(@collection.slug)}", collection_url(@collection.slug), 'data-no-turbolink'=>true %>
</p>

<%= markdown(@collection.description) %>

<%= subsection_title("#{t 'products.title'}") %>

<div class="row-fluid">
	<% if @products.any? %>
	  <ul id="products-list" class="span5">
		  <%= render 'admin/collections/from' %>
		</ul>

	  <ul id="collection-products" class="span7" data-update-url="<%= sort_products_admin_collection_url %>">
		  <%= render 'admin/collections/to' %>
		</ul>
	<% else %>
	  <p class="alert">Create products first so you can add to collection.</p>
	<% end %>
</div>