<%= page_title("#{t 'settings'}") %>

<%# unless Setting.stripe_access_token.present? %>
  <!-- <p class="alert"><%#= t 'stripe.please_connect' %>. -->
    <%#= link_to image_tag('connect-button.png', size: "190x33"), "/auth/stripe_connect?scope=read_write&stripe_landing=register" %><!-- </p> -->
<%# end %>

<%= form_for @setting, url: admin_settings_path, method: :put, multipart: true do |f| %>
  <div class="form-inputs">
    <h3><%= t 'logo' %></h3>
    <% if Setting.logo %>
      <p><%= image_tag Setting.logo.upload(:thumb) %></p>
      <p><%= link_to 'Remove', remove_logo_admin_settings_path, method: :delete, class: 'btn btn-danger' %></p>
    <% end %>
    <p><%= f.file_field :logo %></p>

    <%# if Setting.stripe_access_token.present? %>
      <h3><%= t 'payments.title' %></h3>
      <%= image_tag "powered-by-stripe.png", size: "119x26", alt: "Powered by Stripe" %>
      <p><%= t 'stripe.account_set_up' %> <%= link_to "Stripe account", "https://manage.stripe.com", target: "_blank" %>.</p>
    <%# end %>

    <h3>Store</h3>
    <div class="input-append">
      <%= f.label :abandoned_carts_reminder, 'Send reminder to abandonned carts after' %>
      <%= f.text_field :abandoned_carts_reminder, class: 'span3', placeholder: '3' %>
      <span class="add-on">days</span>
    </div>
  <h3>Notifications</h3>
    <p>Webhooks allow external services to be notified when certain events happen in your store. When the specified events happen, we'll send a POST request to the provided URL.</p>
    <div class="input-append">
      <%= f.label :webhook_url, 'Webhook URL' %>
      <%= f.text_field :webhook_url, class: 'span12', placeholder: 'http://' %>
      <span class="add-on">URL</span>
    </div>
    <p>
    <div class="input-append">
      <%= f.label :auth_token, 'Authentication token' %>
      <%= f.text_field :auth_token, class: 'span12' %>
      <span class="add-on">token</span>
    </div>
  </div>
  <div class="form-actions reset">
    <%= submit_tag "#{t 'save'}", class: 'btn btn-primary' %>
  </div>
<% end %>