<table id="orders" class="table table-striped">
  <tr>
    <th><%= sort_link @search, "code", "#" %></th>
    <th><%= sort_link @search, "completed", "#{t 'status.title'}" %></th>
    <th><%= sort_link @search, :user_id, "#{t 'client'}" %></th>
    <th><%= sort_link @search, :created_at, "#{t 'orders.date'}" %></th>
    <th><%= sort_link @search, "price", "#{t 'price'}" %></th>
  </tr>
  
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.code, admin_order_path(order) %></td>
      <td><%= status_tag(order.state) %></td>
      <td><%= order.client.full_name %></td>
      <td><%= l order.created_at, format: :long %></td>
      <td><%= number_to_currency(order.total, strip_insignificant_zeros: true) %></td>
    </tr>
  <% end %>
</table>