<%= page_title("#{t 'monthly_sales_report'}") %>

<h4 id="month_selector" style="margin-bottom:50px;">
  <%= link_to '&#x2190;'.html_safe, :month => (@date.beginning_of_month-1).strftime("%Y-%m") %>
  <%= I18n.localize(@date, format: '%B %Y') %>
  <%= link_to "&#x2192;".html_safe, :month => (@date.end_of_month+1).strftime("%Y-%m") %>
  <span id='go_to_current' class='fr'><%= link_to "#{t 'current_month'}", month: (Date.today.beginning_of_month).strftime('%Y-%m') %></span>
</h4>

<% if @orders.present? %>
  <div class="report_totals">
    <h2><%= t 'reports.total_sales_count' %>: <span><%= @orders.count %></span></h2>
    <h2><%= t 'reports.total_sales_amount' %>: <span><%= number_to_currency(@orders.map{|o| o.total}.sum, strip_insignificant_zeros: true) %></span></h2>
    <h2><%= t 'reports.total_sales_average' %>: <span><%= number_to_currency(@orders.map{|o| o.total}.sum, strip_insignificant_zeros: true) %></span></h2>
  </div>

<% else %>
  <div class="alert"><%= t 'orders.none' %>.</div>
<% end %>