<%= page_title("#{t 'orders_report'}") %>

<div class="well">
  <%= search_form_for @search, url: orders_admin_reports_path, html: {class: "form-inline form-search"} do |f| %>
    <%= f.text_field :created_at_gteq, class: 'date_picker', style: 'max-width:78px;', placeholder: "#{t 'from_date'}" %>
    <%= f.text_field :created_at_lteq, class: 'date_picker', style: 'max-width:78px;', placeholder: "#{t 'to_date'}" %>
    <%= f.text_field :client_first_name_cont, placeholder: "#{t 'first_name'}", class: 'span2' %>
    <%= f.text_field :client_last_name_cont, placeholder: "#{t 'last_name'}", class: 'span2' %>
    <%= f.text_field :client_email_matches, placeholder: "Email", class: 'span2' %>
    <%= f.text_field :coupon_code_matches, placeholder: "#{t 'coupons.code'}", style: 'max-width:100px;' %>
    <button class="btn" type="submit"><i class="icon-search"></i></button>
    <% if @orders.any? %>
      <button class="btn" type="submit" name="format" value="csv"><i class="icon-download-alt"></i></button>
    <% end %>
    <button class="btn" type="submit" name="" id="q_reset"><i class="icon-remove"></i></button>
  <% end %>
</div>

<% if @orders.present? %>
  <%= render "orders" %>
  <%= paginate @orders %>
<% else %>
  <div class="alert"><%= t 'orders.none' %>.</div>
<% end %>