<%= page_title("#{t 'sales_report'}") %>

<div id="years">
  <form action="" method="get" class="filter">
    <div class="inline-form">
      <%= select_tag :year, options_for_select(@years, @year), onchange: "$(this).closest('form').submit();", class: 'span2' %>
    </div>
  </form>
</div>

<% if @orders_months.any? %>
  <table class="table table-striped">
    <tr>
      <th></th>
      <% (1..12).each do |month| %>
        <th><%= I18n.t('date.abbr_month_names')[month] %></th>
      <% end %>
    </tr>
    <tr>
      <td><%= t 'total_sales_count' %></td>
      <% (1..12).each do |month| %>
        <% orders = @months[month] %>
        <td><%= orders.size if orders %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= t 'total_sales_amount' %></td>
      <% (1..12).each do |month| %>
        <% orders = @months[month] %>
        <td><%= number_to_currency(orders.sum(&:total), strip_insignificant_zeros: true) if orders %></td>
      <% end %>
    </tr>
  </table>

<% else %>
  <div class="alert"><%= t 'no_orders_found' %>.</div>
<% end %>