<%= content_tag_for :tr, review do %>
  <td><%= truncate(review.message, length: 150) %></td>
  <td><%= link_to review.product.name, admin_product_path(review.product) %></td>
  <td><%= review.user.full_name %></td>
  <td><%= review.user.email %></td>
  <td>
    <% if review.approved? %>
      <%= icon_button_link_to "#{t 'disapprove'}", toggle_product_review_status_admin_product_review_path(review), method: :post, remote: true, level: 'danger', size: 'small', icon: 'remove', white: true, data: {confirm: "#{t 'are_you_sure'}"} %>
    <% else %>
      <%= icon_button_link_to "#{t 'approve'}", toggle_product_review_status_admin_product_review_path(review), method: :post, remote: true, level: 'primary', size: 'small', icon: 'play', white: true, data: {confirm: "#{t 'are_you_sure'}"} %>
    <% end %>
  </td>
<% end %>