<%= page_title("#{t 'reviews.title'}") %>

<% if @reviews.any? %>
  <table id="reviews" class="table table-striped">
    <tr>
    	<th>Message</th>
    	<th><%= "#{t 'product'}" %></th>
    	<th><%= "#{t 'user'}" %></th>
      <th>Email</th>
      <th style="width:110px;"><%= "#{t 'status.title'}" %></th>
    </tr>
    
    <% @reviews.each do |review| %>
      <%= render 'review', review: review %>
    <% end %>
  </table>

  <%= paginate @reviews %>
<% else %>
  <p class="alert"><%= "#{t 'reviews.none'}" %>.</p>
<% end %>