<%= page_title("#{t 'products.edit'}") %>

<%= simple_nested_form_for([:admin, @product], html: {class: 'form-horizontal', multipart: true}) do |f| %>
  <%= render 'error_messages', object: f.object %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {class: 'span12'} %>
    <%= f.input :slug, input_html: {class: 'span12'} %>
    <%= f.input :visible, as: :radio_buttons, item_wrapper_class: 'inline' %>
    <%= f.input :price, input_html: {class: 'input-small'} %>
    <%= f.input :reduced_price, input_html: {class: 'input-small'} %>
    <%= f.input :in_stock, input_html: {class: 'input-small'} %>

    <div class="control-group" style="position:relative;">
      <label class="string required control-label" for="article_control"><%= "#{t 'description'}" %> <abbr title="requis">*</abbr></label>
      <div class="controls">
        <a href="#" class="go-zen"><i class="s s--zen">Edit in Zen Mode</i></a>
        <%= f.text_area :description, class: "zen-mode", "data-label"=>"Écrire ici..." %>
      </div>
    </div>
  </div>
  
  <%= subsection_title('Classification & Related Products') %>
  <div class="control-group">
    <label class="control-label" for="product_category_tokens">Categories</label>
    <div class="controls" style="position:absolute;">
      <%= f.text_field :category_tokens, data: {load: @product.categories} %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="product_supplier_tokens">Vendor</label>
    <div class="controls" style="position:absolute;">
      <%= f.text_field :supplier_tokens, data: {load: @product.suppliers} %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="product_cross_sell_tokens">Cross-Sell Products</label>
    <div class="controls" style="position:absolute;">
      <%= f.text_field :cross_sell_tokens, data: {load: @product.cross_sell_products} %>
    </div>
  </div>

  <%= subsection_title('Options') %>
  <div class="control-group" id="options-container">
    <div class="control-label"><%= link_to 'Edit options', '#edit-option-modal', class: 'btn', data: {toggle: 'modal'} %></div>
    <div class="controls well">
      <% if @product.options.any? %>
        <table class="table" id="table-variants">
          <thead>
            <tr>
              <% @product.options.each do |option| %>
              <th><%= option.name %></th>
              <% end %>
              <th>Price</th>
              <th>In stock</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @product.variants.build if @product.variants.blank? %>
            <%= f.fields_for :variants, wrapper: false do |ff| %>
              <% variant = ff.object %>
              <%= content_tag_for(:tr, variant) do %>
                <% if @product.options.size > 0 %>
                  <td><%= ff.text_field :option1, class: 'input-small' %></td>
                <% end %>
                <% if @product.options.size > 1 %>
                  <td><%= ff.text_field :option2, class: 'input-small' %></td>
                <% end %>
                <% if @product.options.size > 2 %>
                  <td><%= ff.text_field :option3, class: 'input-small' %></td>
                <% end %>
                <td>
                  <%= ff.hidden_field :selected, value: '1' %>
                  <%= ff.text_field :price, class: 'input-small' %>
                </td>
                <td><%= ff.text_field :in_stock, class: 'input-small' %></td>
                <td><%= ff.link_to_remove 'remove', class: 'btn', data: {wrapper: 'tr'} %></td>
              <% end %>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="<%= 4 + @product.options.size %>"><%= f.link_to_add 'Add a variant', :variants, class: 'btn', id: 'add_variant' %></td>
            </tr>
          </tfoot>
        </table>
      <% else %>
        <div class="alert warning" style="margin-bottom:0;">This product has no options yet. Please add options first.</div>  
      <% end %>
  </div>
  
  <%= subsection_title('SEO') %>
  <%= render 'admin/meta_tags/form', f: f %>

  <div class="form-actions">
    <%= submit_or_cancel(f) %>
  </div>
<% end %>

<%= render 'admin/options/modal_form', product: @product %>

<script type="text/javascript">
  $(function() {
    edit_product_form.setup();
  });
</script>