<%= page_title(@product.name) do %>
  <%= status_tag("#{t 'private'}") if !@product.visible %>
  <%= status_tag("#{t 'on_sale'}", level: 'warning') if @product.on_sale? %>
  <%= status_tag("#{ t 'featured'}", level: 'success') if @product.featured? %>
  <%= icon_button_link_to "#{t 'destroy'}", admin_product_path(@product), method: :delete, data: { confirm: "#{t 'are_you_sure'}" }, level: 'danger', icon: 'remove', white: true, class: "fr" %>
  <%= icon_button_link_to "#{t 'edit'}", edit_admin_product_path(@product), level: 'primary', icon: 'pencil', white: true, class: "fr" %>
<% end %>

<p>
	<b>URL</b>: <%= link_to product_url(@product.slug), product_url(@product.slug) %>
	<span class="fr"><b>SKU</b>: <%= @product.sku %></span>
</p>

<p><b><%= t 'price' %></b>: <%= number_to_currency(@product.price) %> || <b><%= t 'reduced_price' %></b>: <%= number_to_currency(@product.reduced_price) %></p>

<p>
	<b><%= t 'categories' %></b>: <%= raw @product.categories.map { |c| link_to c.name, category_path(c) }.join(', ') %>
  <% if @product.suppliers.any? %>
    <span class="fr"><b><%= t 'vendor_supplier' %></b>: <%= @product.suppliers.map(&:name).to_sentence %></span>
  <% end %>
</p>

<p><b><%= t 'products.cross_sell' %></b>: <%= @product.cross_sell_products.map{|p| link_to(p.name, [:admin, p]) }.to_sentence.html_safe %></p>

<p><b><%= t 'in_stock' %></b>: <%= @product.in_stock || 0 %></p>

<%= markdown(@product.description) %>

<%= render 'pictures' %>

<%= render 'variants' %>

<script type="text/javascript">
  $(function() {
    ProductUploader.setup();
  });
</script>