<div class="page-header">
  <h1><%= @product.name %>
    <%= icon_button_link_to "#{t 'destroy'}", admin_product_path(@product), method: :delete, data: { confirm: "#{t 'are_you_sure'}" }, level: 'danger', icon: 'remove', white: true, size: 'large', class: "fr" %>
    <%= icon_button_link_to "#{t 'edit'}", edit_admin_product_path(@product), level: 'primary', icon: 'pencil', white: true, size: 'large', class: "fr" %>
  </h1>
</div>

<p><b>SKU</b>: <%= @product.sku %></p>

<p><b>Slug</b>: <%= @product.slug %></p>

<p><b><%= t 'price' %></b>: <%= number_to_currency(@product.price, strip_insignificant_zeros: true) %></p>

<p><b><%= t 'sale_price' %></b>: <%= number_to_currency(@product.sale_price, strip_insignificant_zeros: true) %></p>

<p><b><%= t 'categories' %></b>: <%= raw @product.categories.map { |c| link_to c.name, category_path(c) }.join(', ') %></p>

<p><b><%= t 'vendors' %></b>: <%= @product.suppliers.map(&:name).to_sentence %></p>

<p><b><%= t 'cross_sell_products' %></b>: <%= @product.cross_sell_products.map{|p| link_to(p.name, [:admin, p]) }.to_sentence.html_safe %></p>

<p><b><%= t 'in_stock' %></b>: <%= @product.in_stock || 0 %></p>

<%= markdown(@product.description) %>

<% if @product.variants.any? %>
  <h3 class="subsection_title">Variants</h3>
  <% @product.variants.each do |variant| %>
    <p><b><%= variant.name %></b>: <%= number_to_currency(variant.current_price, strip_insignificant_zeros: true) %> || 
    In stock: <%= variant.in_stock %>
    </p>
  <% end %>
<% end %>