<%= page_title(@product.name) do %>
  <%= status_tag("#{t 'private'}") if !@product.visible %>
  <%= icon_button_link_to "#{t 'destroy'}", admin_product_path(@product), method: :delete, data: { confirm: "#{t 'are_you_sure'}" }, level: 'danger', icon: 'remove', white: true, class: "fr" %>
  <%= icon_button_link_to "#{t 'edit'}", edit_admin_product_path(@product), level: 'primary', icon: 'pencil', white: true, class: "fr" %>
<% end %>

<p><b>URL</b>: <%= link_to product_url(@product.slug), product_url(@product.slug) %></p>

<p><b>SKU</b>: <%= @product.sku %></p>

<p><b><%= t 'price' %></b>: <%= number_to_currency(@product.price, strip_insignificant_zeros: true) %></p>

<p><b><%= t 'reduced_price' %></b>: <%= number_to_currency(@product.reduced_price, strip_insignificant_zeros: true) %></p>

<p><b><%= t 'categories' %></b>: <%= raw @product.categories.map { |c| link_to c.name, category_path(c) }.join(', ') %></p>

<p><b><%= t 'vendor_supplier' %></b>: <%= @product.suppliers.map(&:name).to_sentence %></p>

<p><b><%= t 'products.cross_sell' %></b>: <%= @product.cross_sell_products.map{|p| link_to(p.name, [:admin, p]) }.to_sentence.html_safe %></p>

<p><b><%= t 'in_stock' %></b>: <%= @product.in_stock || 0 %></p>

<%= markdown(@product.description) %>

<%= render 'variants' %>

<h3 class="subsection_title">Pictures</h3>
<%= form_for [:admin, @product, @product.pictures.build], :html => { :multipart => true, :id => "fileupload"  } do |f| %>
  <ul class="thumbnails pictures" id="pictures-container">
    <li>
      <span class="thumbnail fileinput-button">
        <img data-src="holder.js/200x150/bright/text:+" alt="Click to add pictures">
        <%= f.file_field :upload, multiple: true %>
      </span>
      <div class="progress">
        <div class="bar" style="width: 60%;"></div>
      </div>
    </li>
  </ul>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <li class="template-upload fade">
    <a href="#" class="thumbnail"><span class="preview"><span class="fade"></span></span></a>
    <p class="name"><span>{%=file.name%}</span></p>
    {% if (file.error) { %}
    <p class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</p>
    {% } else if (o.files.valid && !i) { %}
    <p>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </p>
    <span class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</span>
    {% } else { %}
    {% } %}
    <span class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</span>
  </li>
  {% } %}
</script>

<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <li class="template-download fade">
      {% if (file.error) { %}
        <p class="name"><span>{%=file.name%}</span></p>
        <p class="size"><span>{%=o.formatFileSize(file.size)%}</span></p>
        <p class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</p>
        {% } else { %}
        {% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" class="thumbnail">
            <span class="preview"><img src="{%=file.thumbnail_url%}"></span>
          </a>
        {% } %}
        <p class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </p>
        {% } %}
      <p class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="icon-trash icon-white"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
      </p>
    </li>
  {% } %}
</script>

<script type="text/javascript">
  Holder.add_theme("bright", { background: "#eee", foreground: "#aaa", size: 60}).run();
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
        filesContainer: $('#pictures-container'),
        previewMaxWidth : 200,
        previewMaxHeight : 150,
        acceptFileTypes: /(.|\/)(gif|jpe?g|png)$/i,
        maxFileSize: 5242880 // 5M
      });
      // // 
      // // Load existing files:
      $.getJSON($('#fileupload').prop('action'), function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        console.log(files);
        template = fu._renderDownload(files)
          .appendTo($('#pictures-container'));
        // console.log($('#fileupload .files'));
        // Force reflow:
        console.log(template);
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  });
  // $('#add-new').click(function() {
  //   $('#picture_upload').click();
  // });
</script>