<%= page_title("#{t 'orders.title'}") do %>
  <%= button_link_to "#{t 'resellers.orders.new', default: 'New Order'}", new_reseller_cart_path, class: "pull-right" %>
<% end %>

<% if @orders.present? %>
  <table id="orders" class="table table-striped">
	  <tr id="table-headers">
	  	<th></th>
	    <th><%= sortable "code", "#" %></th>
	    <th><%= sortable "completed", "#{t 'status.title'}" %></th>
	    <th><%= sortable "client.full_name", "#{t 'client'}" %></th>
	    <th><%= sortable "created_at", "Date" %></th>
	    <th>Shipping</th>
	    <th><%= sortable "total", "#{t 'total'}" %></th>
	  </tr>

	  <% @orders.each do |order| %>
	    <%= render order %>
	  <% end %>
	</table>

  <%= paginate @orders %>
<% else %>
  <div class="alert"><%= t 'orders.none' %>.</div>
<% end %>