<%= page_title("Addresses & Shipping") %>

<%= simple_form_for([:reseller, @order], html: {class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <div class="row-fluid">
    <div class="span6 address billing">
      <h4><%= t 'shipping_address' %></h4>
      <%= f.fields_for :shipping_address do |ff| %>
        <%= ff.input :full_name %>
        <%= ff.input :address1 %>
        <%= ff.input :address2 %>
        <%= ff.input :city %>
        <%= ff.input :postal_code %>
        <%= ff.input :country, collection: Country.all %>
        <%= ff.input :province, collection: province_options, as: :grouped_select, group_method: :last, group_label_method: :first, wrapper_html: {id: 'shipping_province'} %>
      <% end %>
    </div>

    <div class="span6 address shipping">
      <h4><%= t 'billing_address' %></h4>
      <%= f.fields_for :billing_address do |ff| %>
        <%= ff.input :full_name %>
        <%= ff.input :address1 %>
        <%= ff.input :address2 %>
        <%= ff.input :city %>
        <%= ff.input :postal_code %>
        <%= ff.input :country, collection: Country.all %>
        <%= ff.input :province, collection: province_options, as: :grouped_select, group_method: :last, group_label_method: :first, wrapper_html: {id: 'billing_province'} %>
      <% end %>
    </div>
  </div>

  <div class="well">
    <h4 style="margin-top:0;"><%= t 'theme.shipping.shipping_method' %></h4>
    <p><%= t 'theme.shipping.select_shipping_rate' %></p>
    <%= select_tag :shipping_rate, options_for_select(@applicable_rates.map{|sr| [sr, sr.id]}, @shipping_estimate) %>
  </div>

  <div class="form-actions">
    <%= submit_or_cancel(f, "", 'Retourner') %>
  </div>
<% end %>