<%= page_title("#{t 'staff_members.title'}") do %>
  <%= icon_button_link_to "#{t 'staff_members.new'}", new_admin_user_path, level: 'primary', icon: 'plus', white: true, class: "fr" %>
<% end %>

<% if @users.present? %>
  <table id="users" class="table table-striped">
    <tr id="table-headers">
      <th><%= "#{t 'name', default: 'Name'}" %></th>
      <th>Email</th>
      <th><%= "#{t 'status.title'}" %></th>
    </tr>

    <% @users.each do |user| %>
      <%= render 'user', user: user %>
    <% end %>
  </table>

<% else %>
  <div class="alert"><%= t 'users.none' %>.</div>
<% end %>