<%= page_title("#{t 'staff_members.title'}") do %>
  <%= icon_button_link_to "#{t 'staff_members.new'}", new_admin_user_path, level: 'primary', icon: 'plus', white: true, class: "fr" %>
<% end %>

<% if @users.present? %>
  <table id="users" class="table table-striped">
    <tr id="table-headers">
      <th><%= "#{t 'name', default: 'Name'}" %></th>
      <th>Email</th>
      <th><%= "#{t 'status.title'}" %></th>
    </tr>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.active %>
      <%= icon_button_link_to "#{t 'deactivate'}", deactivate_admin_user_path(user), level: 'danger', size: 'small', icon: 'remove', white: true, method: :post, data: {confirm: "#{t 'are_you_sure'}"} %>
    <% else %>
      <%= icon_button_link_to "#{t 'activate'}", activate_admin_user_path(user), level: 'primary', size: 'small', icon: 'play', white: true, method: :post, data: {confirm: "#{t 'are_you_sure'}"} %>
    <% end %>
        </td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="alert"><%= t 'users.none' %>.</div>
<% end %>