<footer id="footer">
	<div class="inner">
		<nav>
			<ul>
				<li><%= link_to "Facebook", "#{t 'facebook_url'}", target: "_blank" %></li>
				<li><%= link_to "Pinterest", "#{t 'pinterest_url'}", target: "_blank" %></li>
				<li><%= link_to "Twitter", "#{t 'twitter_url'}", target: "_blank" %></li>
			</ul>
			<ul>
				<li><%= link_to "#{t 'theme.faq'}", "/faq" %></li>
				<li><%= link_to "#{t 'theme.cgv'}", "/cgv" %></li>
				<li><%= link_to "#{t 'theme.in_the_news'}", "/media" %></li>
				<li><%= link_to "#{t 'theme.blog'}", blog_path %></li>
			</ul>
		</nav>
		<div class="items">
			<div class="item copyright">
				<%= link_to "Une réalisation e-commerce de yafoy", "http://yafoy.com", target: "_blank" %>
			</div>
		</div>
	</div>
</footer>