
<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
	<div class="cbp-hsinner">
		<ul class="cbp-hsmenu">
			<li>
				<%= link_to "#{t 'theme.bento_lunch_box'}", "#" %>
				<ul class="cbp-hssubmenu">
					<li><a href="category/modern"><img src="assets/samples/1.png" alt="img01"/><span><%= t 'theme.nav.modern' %></span></a></li>
					<li><a href="category/traditional"><img src="assets/samples/2.png" alt="img02"/><span><%= t 'theme.nav.traditional' %></span></a></li>
					<li><a href="category/kid"><img src="assets/samples/3.png" alt="img03"/><span><%= t 'theme.nav.kid' %></span></a></li>
					<li><a href="category/kit"><img src="assets/samples/4.png" alt="img04"/><span><%= t 'theme.nav.kit' %></span></a></li>
					<li><a href="category/"><img src="assets/samples/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
					<li><a href="category/"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
				</ul>
			</li>
			<li>
				<%= link_to "#{t 'theme.accessories'}", "#" %>
				<ul class="cbp-hssubmenu">
					<li><a href="category/bag"><img src="assets/samples/10.png" alt="img10"/><span><%= t 'theme.nav.bag' %></span></a></li>
					<li><a href="category/napkin"><img src="assets/samples/6.png" alt="img06"/><span><%= t 'theme.nav.napkin' %></span></a></li>
					<li><a href="category/cutlery"><img src="assets/samples/9.png" alt="img09"/><span><%= t 'theme.nav.cutlery' %></span></a></li>
					<li><a href="category/kit"><img src="assets/samples/9.png" alt="img09"/><span><%= t 'theme.nav.kit' %></span></a></li>
				</ul>
			</li>
			<li><%= link_to "#{t 'theme.about'}", "/about" %></li>
			<li><%= link_to "#{t 'theme.contact.menu_tab'}", contact_path %></li>
			<li><%= link_to "#{t 'theme.blog'}", blog_path %></li>
	    <li>
	    	<%= link_to "", "#{t 'theme.facebook_url', fb_nic: ENV['FACEBOOK_NIC']}", class: 'icomoon icon-facebook', target: "_blank" %>
	    	<%= link_to "", "#{t 'theme.twitter_url', twitter_nic: ENV['TWITTER_NIC']}", class: 'icomoon icon-twitter', target: "_blank" %>
	    	<%= link_to "", "#{t 'theme.pinterest_url', pinterest_nic: ENV['PINTEREST_NIC']}", class: 'icomoon icon-pinterest', target: "_blank" %>
	    </li>
		</ul>
	</div>
</nav>