
<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
	<div class="cbp-hsinner">
		<ul class="cbp-hsmenu">
			<li>
				<%= link_to "#{t 'theme.bento_lunch_box'}", "#" %>
				<ul class="cbp-hssubmenu">
					<li><a href="#"><img src="assets/samples/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
					<li><a href="#"><img src="assets/samples/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
					<li><a href="#"><img src="assets/samples/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
					<li><a href="#"><img src="assets/samples/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
					<li><a href="#"><img src="assets/samples/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
					<li><a href="#"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
				</ul>
			</li>
			<li>
				<%= link_to "#{t 'theme.accessories'}", "#" %>
				<ul class="cbp-hssubmenu cbp-hssub-rows">
					<li><a href="#"><img src="assets/samples/7.png" alt="img07"/><span>Lovely Slurp</span></a></li>
					<li><a href="#"><img src="assets/samples/8.png" alt="img08"/><span>Lemony Grappa</span></a></li>
					<li><a href="#"><img src="assets/samples/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
					<li><a href="#"><img src="assets/samples/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
					<li><a href="#"><img src="assets/samples/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
					<li><a href="#"><img src="assets/samples/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
					<li><a href="#"><img src="assets/samples/3.png" alt="img03"/><span>Heavenly Ale</span></a></li>
					<li><a href="#"><img src="assets/samples/4.png" alt="img04"/><span>Juicy Lemonade</span></a></li>
					<li><a href="#"><img src="assets/samples/5.png" alt="img05"/><span>Wise Whiskey</span></a></li>
					<li><a href="#"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
					<li><a href="#"><img src="assets/samples/1.png" alt="img01"/><span>Delicate Wine</span></a></li>
					<li><a href="#"><img src="assets/samples/2.png" alt="img02"/><span>Fine Spirit</span></a></li>
				</ul>
			</li>
			<li>
				<%= link_to "#{t 'theme.categories'}", "#" %>
				<ul class="cbp-hssubmenu">
					<li><a href="#"><img src="assets/samples/10.png" alt="img10"/><span>Fresh Juice</span></a></li>
					<li><a href="#"><img src="assets/samples/6.png" alt="img06"/><span>Sweet Rum</span></a></li>
					<li><a href="#"><img src="assets/samples/9.png" alt="img09"/><span>Eggy Liquor</span></a></li>
				</ul>
			</li>
			<li><%= link_to "#{t 'theme.about'}", "/about" %></li>
			<li><%= link_to "#{t 'theme.contact.menu_tab'}", contact_path %></li>
			<li><%= link_to "#{t 'theme.blog'}", blog_path %></li>
	    <li>
	    	<%= link_to "", "#{t 'theme.facebook_url'}", class: 'iconmoo icon-facebook' %>
	    	<%= link_to "", "theme.twitter_url", class: 'iconmoo icon-twitter' %>
	    	<%= link_to "", "theme.pinterest_url", class: 'iconmoo icon-pinterest' %>
	    </li>
		</ul>
	</div>
</nav>