<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
	<div class="cbp-hsinner">
		<ul class="cbp-hsmenu">
			<li>
				<%= link_to "#{t 'theme.bento_lunch_box'}", "#" %>
				<ul class="cbp-hssubmenu">
					<li><%= link_to(image_tag('theme/products/bento-modern.png', alt: "Modern bento") + content_tag(:span, "#{t 'theme.nav.modern'}"), "/category/modern") %></li>
					<li><%= link_to(image_tag('theme/products/bento-traditional.png', alt: "Traditional bento") + content_tag(:span, "#{t 'theme.nav.traditional'}"), "/category/traditional") %></li>
					<li><%= link_to(image_tag('theme/products/bento-kid.png', alt: "Bento for kids") + content_tag(:span, "#{t 'theme.nav.kid'}"), "/category/kid") %></li>
					<li><%= link_to(image_tag('theme/products/bento-kit.png', alt: "Bento kit") + content_tag(:span, "#{t 'theme.nav.kit'}"), "/category/kit") %></li>
				</ul>
			</li>
			<li>
				<%= link_to "#{t 'theme.accessories'}", "#" %>
				<ul class="cbp-hssubmenu">
					<li><%= link_to(image_tag('theme/products/bento-napkin.png', alt: "Bento napkin") + content_tag(:span, "#{t 'theme.nav.napkin'}"), "/category/napkin") %></li>
					<li><%= link_to(image_tag('theme/products/bento-cutlery.png', alt: "Cutlery & Chopsticks") + content_tag(:span, "#{t 'theme.nav.cutlery'}"), "/category/cutlery") %></li>
					<li><%= link_to(image_tag('theme/products/bento-bag.png', alt: "Bento bag") + content_tag(:span, "#{t 'theme.nav.bag'}"), "/category/bag") %></li>
				</ul>
			</li>
			<li><%= link_to "#{t 'theme.about'}", "/about" %></li>
			<li><%= link_to "#{t 'theme.contact.menu_tab'}", contact_path %></li>
			<li><%= link_to "#{t 'theme.blog'}", blog_path %></li>
	    <li class="get-social">
	    	<%= link_to "", "#{t 'theme.facebook_url', fb_nic: ENV['FACEBOOK_NIC']}", class: 'icomoon icon-facebook', target: "_blank" %>
	    	<%= link_to "", "#{t 'theme.twitter_url', twitter_nic: ENV['TWITTER_NIC']}", class: 'icomoon icon-twitter', target: "_blank" %>
	    	<%= link_to "", "#{t 'theme.pinterest_url', pinterest_nic: ENV['PINTEREST_NIC']}", class: 'icomoon icon-pinterest', target: "_blank" %>
	    </li>
		</ul>
	</div>
</nav>