<% if current_user %>
  <li><%= t 'theme.welcome' %>, <%= link_to current_user.first_name, profile_path %></li>
  <li><%= link_to "#{t 'orders.mine'}", orders_path %></li>
  <% if current_user.admin? %>
    <li><%= link_to "#{t 'theme.manage_store'}", admin_dashboard_path %></li>
  <% end %>
  <li class="fr"><%= link_to("#{t 'logout'}", logout_path, method: :delete) %></li>
<% else %>
  <li><%= t 'theme.welcome' %>, <%= link_to "#{t 'theme.login'}", login_path %> <%= t 'theme.or' %> <%= link_to "#{t 'theme.register'}", signup_path %></li>
<% end %>