<li>
  <div class="product">
    <div class="item">
      <div class="item-flip">
      	<%= link_to product do %>
          <% product.quick_pictures.each do |picture| %>
            <%= image_tag(picture.upload.url(:thumb), size: "200x200") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="options">
      <li class="opt-rotate">&nbsp;</li>
      <li class="opt-fav">
				<div class="opt-tooltip">
					<span data-social="facebook" data-url-to-open="<%= t 'theme.facebook_url', fb_nic: ENV['FACEBOOK_NIC'] %>"></span>
          <span data-social="twitter" data-url-to-open="//twitter.com/share" data-params="text=<%= product.name %>&url=<%= product_url(product.slug) %>&via=<%= ENV['TWITTER_NIC'] %>"></span>
          <span data-social="pinterest" data-url-to-open="//pinterest.com/pin/create/button/?url=<%= request.protocol + request.host_with_port + product_url(product.slug) %>&media=<%= request.protocol + request.host_with_port + product.pictures.first.upload.url(:thumb) if product.pictures.any? %>&description=<%= product.name %>" data-pin-do="buttonPin" data-pin-config="none" ></span>
				</div>
      </li>
      <% if product.variants.any? %>
        <% default_variant = product.variants.in_stocks.first || product.variants.first %>
        <li class="opt-cart" data-url="<%= line_items_path(product_variant_id: default_variant.id) %>"></li>
      <% else %>
        <li class="opt-cart" data-url="<%= line_items_path(product_variant_id: product.master.id) %>"></li>
      <% end %>
    </ul>
  </div>
  <div class="info">
    <h3><%= link_to product.name, product %></h3>
    <span class="price"><%= product.price_display(@currency) %></span>
  </div>
</li>