<li>
  <div class="product">
    <div class="item">
      <div class="item-flip">
      	<%= link_to product do %>
          <% product.quick_pictures.each do |picture| %>
            <%= image_tag(picture.upload.url(:thumb), size: "200x200") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="options">
      <li class="opt-rotate">Rotate</li>
      <li class="opt-fav">
				<div class="opt-tooltip">
					<span data-social="facebook" data-url="<%= t 'theme.facebook_url', fb_nic: ENV['FACEBOOK_NIC'] %>"></span>
					<span data-social="twitter" data-url="<%= t 'theme.twitter_url', twitter_nic: ENV['TWITTER_NIC'] %>"></span>
					<span data-social="pinterest" data-url="<%= t 'theme.pinterest_url', pinterest_nic: ENV['PINTEREST_NIC'] %>"></span>
				</div>
      </li>
      <% if product.variants.any? %>
        <li class="opt-cart" data-url="<%= line_items_path(product_variant_id: default_variant.id) %>"></li>
      <% else %>
        <li class="opt-cart" data-url="<%= line_items_path(product_variant_id: product.master.id) %>"></li>
      <% end %>
    </ul>
  </div>
  <div class="info">
    <h3><%= link_to product.name, product %></h3>
    <span class="price"><%= product.price_display %></span>
  </div>
</li>