<li>
  <div class="product">
    <span class="rotate">Rotate Item</span>
    <div class="item">
      <div class="item-flip">
      	<%= link_to product do %>
          <% product.pictures.limit(2).each do |picture| %>
          <%#= product.quick_pictures.each do |picture| %>
            <%= image_tag(picture.upload.url(:thumb), size: "200x200") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="options">
      <li class="opt-compare">Compare</li>
      <li class="opt-fav">
				<div class="opt-tooltip">
					<span data-social="facebook" data-url="#{t 'theme.facebook_url', fb_nic: ENV['FACEBOOK_NIC']}"></span>
					<span data-social="twitter" data-url="#{t 'theme.twitter_url', twitter_nic: ENV['TWITTER_NIC']}"></span>
					<span data-social="pinterest" data-url="#{t 'theme.pinterest_url', pinterest_nic: ENV['PINTEREST_NIC']}"></span>
				</div>
      </li>
      <% if product.variants.any? %>
        <% color_option = product.options.find_by_name('Color') %>
        <% if color_option %>
          <li class="opt-color">
            <% default_variant = product.variants.first %>
            <span data-color="<%= default_variant.options["option#{color_option.position}"].parameterize %>"><%= default_variant.options["option#{color_option.position}"] %></span>
            <div class="opt-tooltip">
              <% product.variants.each do |variant| %>
                <span data-color="<%= variant.options["option#{color_option.position}"].parameterize %>" data-image-url="<%= product.photo_mapping[variant.sku].upload.url(:thumb) %>" data-add-to-cart="<%= line_items_path(product_variant_id: variant.id) %>">
                  <%= variant.options["option#{color_option.position}"] %>
                </span>
              <% end %>
            </div>
          </li>
        <% end %>
        <li class="opt-cart" data-url="<%= line_items_path(product_variant_id: default_variant.id) %>"></li>
      <% else %>
        <li class="opt-cart" data-url="<%= line_items_path(product_variant_id: product.master.id) %>"></li>
      <% end %>
    </ul>
  </div>
  <div class="info">
    <h3><%= link_to product.name, product %></h3>
    <span class="price"><%= product.price_display %></span>
  </div>
</li>