<%= page_title("#{t 'theme.products.title'}") %>

<% if params[:category] %>
  <h3><%= t 'theme.category' %>: <%= @category.name %></h3>
<% end %>

<%= render 'products/products' %>

<%= paginate @products %>