<%= page_title("Products") %>

<% if params[:category] %>
  <h3><%= t 'category' %>: <%= @category.name %></h3>
<% end %>

<div id="products">
	<% @products.each do |product| %>
	  <div class="product">
	  	<h3><%= link_to product.name, product_path(product.slug) %></h3>
	  </div>
	<% end %>
</div>

<%= paginate @products %>