<%= page_title("#{t 'theme.products.title'}") %>

<% if params[:category] %>
  <h3><%= t 'theme.category' %>: <%= @category.name %></h3>
  <%= markdown(@category.description) if @category.description.present? %>
<% end %>

<div id="pgcontainer" class="pgcontainer">
  <ul class="pggrid" id="product-list">
    <%= render partial: 'products/product', collection: @products, as: :product %>
  </ul>
</div>

<%= paginate @products %>

<script type="text/javascript">
	$(function() {
	  BentoShop.setup('#pgcontainer');
	  EndlessScrolling.setup();
	});
</script>