<%= page_title(@product.name) %>

<%= markdown(@product.description) %>

<% if @product.options.any? && @product.variants.any? %>
  <% default_variant = @product.variants.in_stocks.first || @product.variants.first %>
  <% @product.options.each do |option| %>
    <p><%= option.name %>: <%= select_tag option.name, options_for_select(option.values.split(','), default_variant.send(:"option#{option.position}")), class: 'option' %></p>
  <% end %>

  <h3 id="price"><%= number_to_currency default_variant.price %></h3>
  <%= button_to 'Add to Cart', line_items_path(product_variant_id: default_variant.id), class: "btn btn-success", id: 'add-to-cart' %>
<% else %>  
  <h3 id="price"><%= number_to_currency @product.price, strip_insignificant_zeros: true %></h3>
  <%= button_to 'Add to Cart', line_items_path(product_id: @product.id), class: "btn btn-success", id: 'add-to-cart' %>
<% end %>  



<%= render 'reviews' %>

<script type="text/javascript">
  var variants = <%= raw @product.variants.to_json(only: [:id, :price, :in_stock, :options]) %>;
  var option_refs = <%= raw @product.options.inject({}) {|h, option| h[:"option#{option.position}"] = option.name;h }.to_json %>;
  ProductOptionSelector.setup(variants, option_refs);
</script>