<%= page_title(@product.name) %>

<%= markdown(@product.description) %>

<% if @product.options.any? && @product.variants.any? %>
  <% default_variant = @product.variants.first %>
  <% @product.options.each do |option| %>
    <p><%= option.name %>: <%= select_tag option.name, options_for_select(option.values.split(',')) %></p>
  <% end %>

  <h3><%= number_to_currency default_variant.price %></h3>
<% else %>  
  <h3><%= number_to_currency @product.price, strip_insignificant_zeros: true %></h3>
<% end %>  

<% if @product.variants.any? %>
  <ul>
  <% @product.variants.each do |v| %>
    <li><%= v.name %> (<%= number_to_currency(v.current_price, strip_insignificant_zeros: true) %>)</li>
  <% end %>
  </ul>
<% end %>


<%= button_to 'Add to Cart', line_items_path(product_id: @product.id), class: "btn btn-success" %>

<%= render 'reviews' %>

<script type="text/javascript">
  var variants = <%= raw @product.variants.to_json(only: [:id, :price, :in_stock, :options]) %>;
  var option_refs = <%= raw @product.options.inject({}) {|h, option| h[:"option#{option.position}"] = option.name;h }.to_json %>;
</script>