<%= content_for :body_id do %>product<% end %>

<%= page_title(@product.name) %>

<div class="row-fluid">
  <div class="span8">
    <img data-src="holder.js/770x360" alt="" width="770" height="360">
  </div>
  
  <div class="span4">
    <% if @product.options.any? && @product.variants.any? %>
      <% default_variant = @product.variants.in_stocks.first || @product.variants.first %>
      <% valid_options = @product.variants.map{|v| v.options}.map(&:to_a).flatten(1).reduce({}) {|h,(k,v)| (h[k] ||= []) << v; h} %>
      <% @product.options.each do |option| %>
        <p><%= option.name %>: <%= select_tag option.name, options_for_select(valid_options[:"option#{option.position}"], default_variant.send(:"option#{option.position}")), class: 'option' %></p>
      <% end %>

      <h2 id="price"><%= number_to_currency default_variant.price %></h2>
      <%= button_to 'Add to Cart', line_items_path(product_variant_id: default_variant.id), class: "btn btn-add-to-cart", id: 'add-to-cart' %>
    <% else %>  
      <h2 id="price"><%= number_to_currency @product.price, strip_insignificant_zeros: true %></h2>
      <%= button_to 'Add to Cart', line_items_path(product_id: @product.id), class: "btn btn-add-to-cart", id: 'add-to-cart' %>
    <% end %>
  </div>
</div>

<div>
  <%= markdown(@product.description) %>
</div>

<%= render 'related' %>

<%= render 'reviews' %>

<script type="text/javascript">
  var variants = <%= raw @product.variants.to_json(only: [:id, :price, :in_stock, :options]) %>;
  var option_refs = <%= raw @product.options.inject({}) {|h, option| h[:"option#{option.position}"] = option.name;h }.to_json %>;
  ProductOptionSelector.setup(variants, option_refs);
</script>