<%= content_for :body_id do %>product<% end %>

<%= page_title(@product.name) %>

<div class="row-fluid">
  <div class="span8">
    <img data-src="holder.js/688x360" alt="" width="688" height="360">
  </div>
  
  <div id="product-sidebar" class="span4">
    <% if @product.options.any? && @product.variants.any? %>
      <% default_variant = @product.variants.in_stocks.first || @product.variants.first %>
      <% valid_options = @product.variants.map{|v| v.options}.map(&:to_a).flatten(1).reduce({}) {|h,(k,v)| (h[k] ||= []) << v; h}.symbolize_keys %>
      <% @product.options.each do |option| %>
        <p><%= option.name %><br>
           <%= select_tag option.name, options_for_select(valid_options[:"option#{option.position}"].uniq, default_variant.send(:"option#{option.position}")), class: 'option' %></p>
      <% end %>

      <h2 id="price"><%= number_to_currency default_variant.price %></h2>
      <%= button_to "#{t 'theme.add_to_cart'}", line_items_path(product_variant_id: default_variant.id), class: "btn btn-success btn-add-to-cart", id: 'add-to-cart' %>
    <% else %>  
      <h2 id="price"><%= number_to_currency @product.master.price, strip_insignificant_zeros: true %></h2>
      <%= button_to "#{t 'theme.add_to_cart'}", line_items_path(product_variant_id: @product.master.id), class: "btn btn-success btn-add-to-cart", id: 'add-to-cart' %>
    <% end %>
    <ul id="share-product">
      <li><%= link_to "", "#{t 'theme.facebook_url', fb_nic: ENV['FACEBOOK_NIC']}", class: 'icomoon icon-facebook', target: "_blank" %></li>
      <li><%= link_to "", "#{t 'theme.twitter_url', twitter_nic: ENV['TWITTER_NIC']}", class: 'icomoon icon-twitter', target: "_blank" %></li>
      <li><%= link_to "", "#{t 'theme.pinterest_url', pinterest_nic: ENV['PINTEREST_NIC']}", class: 'icomoon icon-pinterest', target: "_blank" %></li>
    </ul>
  </div>
</div>

<div>
  <%= markdown(@product.description) %>
</div>

<%= render 'related' %>

<%#= render 'reviews' %>

<script type="text/javascript">
  var variants = <%= raw @product.variants.to_json(only: [:id, :price, :in_stock, :options]) %>;
  var option_refs = <%= raw @product.options.inject({}) {|h, option| h[:"option#{option.position}"] = option.name;h }.to_json %>;
  ProductOptionSelector.setup(variants, option_refs);
</script>