<div class="page-header">
  <h1><%= t 'coupons.title' %>
    <%= icon_button_link_to "#{t 'coupons.new'}", new_admin_coupon_path, level: 'primary', icon: 'plus', white: true, size: 'large', class: "fr" %>  
  </h1>
</div>

<% if @coupons.present? %>
  <table id="coupons" class="table table-striped">
    <tr id="table-headers">
      <th><%= "#{t 'status'}" %></th>
      <th>Code</th>
      <th><%= "#{t 'discount'}" %></th>
      <th><%= "#{t 'coupons.sales_count'}" %></th>
      <th></th>
    </tr>
    
    <% @coupons.each do |coupon| %>
      <tr>
        <td><%= status_tag(coupon.active? ? "#{t 'active'}" : "#{t 'inactive'}", level: "#{coupon.active? ? 'success': ''}") %></td>
        <td><%= coupon.code %></td>
        <td><%= coupon.percentage? ? number_to_percentage(coupon.amount, strip_insignificant_zeros: true) : number_to_currency(coupon.amount, strip_insignificant_zeros: true) %></td>
        <td><%= coupon.nb_orders %></td>
        <td><%= icon_button_link_to "#{t 'edit'}", edit_admin_coupon_path(coupon), icon: 'pencil' %></td>
      </tr>
    <% end %>
  </table>

<% else %>
  <div class="alert"><%= t 'coupons.none', default: 'No coupons found' %>.</div>
<% end %>