<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title><%= t('site_name') %> | Administration</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/" if @checkout_script%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: STRIPE_PUBLIC_KEY if @checkout_script %>
  </head>

  <body class="admin">
    <%= render 'admin_navbar' %>

    <div class="container-fluid">
      <div id="content" class="row-fluid">
        <%= render 'admin_sidebar' %>

        <div id="main_content" class="span9">
          <%= render 'flash' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>