<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <title><%= t('site_name') %> | Administration</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/" if @checkout_script%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "stripe-key", content: ENV['STRIPE_PUBLIC_KEY'] if @checkout_script %>
  </head>

  <body class="admin">
    <section id="sidebar">
      <%= render 'admin_sidebar' %>
    </section>
    <div id="wrapper">
      <header id="header">
        <%= render 'admin_navbar' %>
      </header>
      <section id="content" class="row-fluid">
        <%= render 'flash' %>
        <%= yield %>
      </section>
    </div>
    <div style="clear"></div>
  </body>
</html>