<!DOCTYPE html>
<html>
	<head>
	  <%= display_meta_tags(default_meta_tags) %>
	  <%= stylesheet_link_tag    "theme", media: "all" %>
	  <%= javascript_include_tag "https://js.stripe.com/v1/" if @checkout_script %>
	  <%= javascript_include_tag "application", "theme" %>
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	  <%= csrf_meta_tags unless @page_caching %>
	  <script type="text/javascript">
      CURRENT_LOCALE = '<%= I18n.locale %>';
    </script>
    <%= yield :head %>
    <!--[if lt IE 9]>
      <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	</head>
	<body class="public" <% if content_for?(:body_id) %>id="<%= yield(:body_id) %>"<% end %>>
	  <div id="main-container" class="container">
			<%= render 'header' %>
			<%= render 'menu' %>
			<div class="main">
				<%= render 'flash' unless @page_caching %>
        <%= yield %>
			</div>
      <div id="main_footer"></div>
	  </div>

    <%= render 'footer' %>
    
    <script>
      var menu = new cbpHorizontalSlideOutMenu( document.getElementById( 'cbp-hsmenu-wrapper' ) );
    </script>
	</body>
</html>
